@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);


#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#header4-2 P {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
#header4-2 H1 {
  color: #f7da64;
  font-family: 'Lora', serif;
}
#content5-6 .caption h3 {
  color: #fff;
}
#content5-6 P {
  color: #fff;
}
#features1-3 P {
  text-align: center;
}
#footer1-4 P {
  text-align: center;
}

#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#header4-8 H1 {
  color: #ffffff;
}
#header4-8 B {
  color: #f7da64;
  font-family: 'Oswald', sans-serif;
}
#footer1-4 P {
  text-align: center;
}
